.header {
  background: linear-gradient(90deg, rgb(28, 52, 119) 0px, rgb(28, 52, 119) 0.01%, rgb(26, 53, 120) 39.11%, rgb(115, 24, 75) 75.5%, rgb(180, 2, 42) 100%);

  @media (max-width: $vp-1280) {
    height: 100%;
    max-height: 86px;
  }

}

.header__info {
  display: flex;
  justify-content: space-between;
  background-size: auto;
  align-items: center;

  @media (max-width: $vp-1280) {
  width: 100%;
  max-width: 1366px;
  padding: 30px 103px;
  margin: 0;
  }

  @media (max-width: $vp-768) {
    padding: 16px 0;

  }
}

.header__text-prop {
  color: #FFF;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;

  @media (max-width: $vp-768) {
  font-size: 22px;
  line-height: 1;
  }
}
