@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rouble";

  font-display: swap;
  src: url("./fonts.scss/rouble.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed.woff2") format("woff2"),

}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed.woff2") format("woff2"),

}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/AlumniSans.woff2") format("woff2"),
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/AlumniSans.woff2") format("woff2"),
}
